<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%#= f.input :type %>

    <% @service.fields.each do |field| %>
      <%= f.input field %>
    <% end %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
